<div class="row">
<header>
  <h1>
    Agendamentos
  </h1>
</header>
<div class="panel-body">
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>Serviço</th>
        <th>Data</th>
        <th>Estabelecimento</th>
        <th>Profissional</th>
        <th>Qualificação</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="agendamento in agendamentos | orderBy:dataagendamento:true">
        <td>{{agendamento.serviconome}}</td>
        <td>{{agendamento.dataagendamento | date:'dd/MM/yy HH:mm'}}</td>
        <td>{{agendamento.estabelecimentonome}}</td>
        <td>{{agendamento.profissionalnome}}</td>
        <td>
          <span uib-rating ng-model="agendamento.rate" max="5" read-only="true"></span>
        </td>
        <td>
          <div class="btn-group">
            <button ng-click="openModal(agendamento)" ng-disabled="!agendamento.atendido" data-toggle="modal" data-target="#modal-qualificacao" type="button" class="btn btn-info">Qualificar</button>
            <button ng-click="cancelarAgendamento(agendamento.id)" type="button" class="btn btn-warning">Cancelar</button>
          </div>
        </td>
        <div class="modal fade" id="modal-qualificacao" tabindex="-1" role="dialog" aria-labelledby="#modal-qualificacao-label">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="modal-qualificacao-label">Qualificação</h4>
              </div>
              <div class="modal-body">
                <p>
                  Qualifique o atendimento recebido no estabelecimento, levando em consideração os seguintes aspectos:
                  <ul>
                    <li>Qualidade do serviço</li>
                    <li>Limpeza/Organização</li>
                    <li>Duração</li>
                  </ul>
                </p>
                <div class="text-center">
                  <span uib-rating ng-model="model.agendamento.rate" max="5" read-only="false"></span>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" ng-click="qualificarAgendamento(model.agendamento)">Qualificar!</button>
              </div>
            </div>
          </div>
        </div>
      </tr>
    </tbody>
  </table>
</div>
</div>
