<header>
  <h1>
    Profissionais
  </h1>
</header>
<form>
  <div class="form-group">
    <label><span class="glyphicon glyphicon-user"></span> Nome</label>
    <input type="text" class="form-control" ng-model="profissional.nome">
  </div>
  <div class="form-group">
    <label><span class="glyphicon glyphicon-phone"></span> Telefone</label>
    <input type="text" class="form-control" ng-model="profissional.telefone">
  </div>
  <div class="form-group">
    <label><span class="glyphicon glyphicon-envelope"></span> E-mail</label>
    <input type="text" class="form-control" ng-model="profissional.email">
  </div>
  <div class="form-group">
    <label><span class="glyphicon glyphicon-scale"></span> Porcentagem</label>
    <div class="input-group">
      <input type="number" step="5" min="0" max="100" class="form-control" ng-model="profissional.porcentagem">
      <span class="input-group-addon">%</span>
    </div>
  </div>
  <div class="btn-group nowrap btn-group nowrap-justified">
    <a class="btn btn-success btn-lg" ng-click="salvar()"><span class="glyphicon glyphicon-ok"></span> Salvar</a>
    <a class="btn btn-default btn-lg" ng-click="voltar()"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>
  </div>
</form>
<br/>
