<header>
  <h1>
    Agendamentos <span class="small">Qualificação: </span>
  </h1>
</header>
<div class="panel-body table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Data</th>
        <th>Serviço</th>
        <th>Profissional</th>
        <th>Concluído</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="agendamento in agendamentos | orderBy:dataagendamento:true">
        <td>{{agendamento.clientenome}}</td>
        <td>{{agendamento.dataagendamento | date:'dd/MM/yy HH:mm'}}</td>
        <td>{{agendamento.serviconome}}</td>
        <td>{{agendamento.profissionalnome}}</td>
        <td>{{agendamento.atendido === false ? 'Não' : 'Sim'}}</td>
        <td>
          <div class="btn-group nowrap nowrap">
            <button class="btn btn-success btn-sm" ng-click="concluirAgendamento(agendamento)" ng-disabled="agendamento.atendido"><span class="glyphicon glyphicon-ok"></span> Concluir</a>
            <button class="btn btn-warning btn-sm" ng-click="cancelarAgendamento(agendamento.id)" ng-disabled="agendamento.atendido"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>
            <button class="btn btn-danger btn-sm" ng-click="enviarParaBlacklist(agendamento)" ng-disabled="checkDay(agendamento)"><span class="glyphicon glyphicon-thumbs-down"></span> Blacklist</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
