<header>
  <h1>
    Favoritos
  </h1>
</header>
<div class="panel-body table-responsive">
  <div ng-if="!favoritos.length">
    <div class="alert alert-info">Você ainda não possui favoritos.</div>
  </div>
  <h3>
    Lista de Estabelecimentos
  </h3>
  <div class="panel-body table-responsive">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Estabelecimento</th>
          <th>Qualificação</th>
          <th class="text-right">Favorito?</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="estabelecimento in estabelecimentos track by $index">
          <td>{{estabelecimento.nome}}</td>
          <td><span uib-rating ng-model="estabelecimento.rate" max="5" read-only="true"></span></td>
          <td class="text-right">
            <input type="checkbox" ng-model="estabelecimento[$index]" ng-change="addFavorito(estabelecimento)">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
