<header>
  <h1>
    Favoritos
  </h1>
</header>
<div class="col-xs-12">
  <a class="btn btn-success btn-lg" ng-click="novo()"><span class="glyphicon glyphicon-plus"></span> Novo</a>
  <div class="panel-body table-responsive">
    <form ng-if="favorito">
      <div class="form-group">
        <label><span class="glyphicon glyphicon-bullhorn"></span> Estabelecimento</label>
        <select
          class="form-control"
          ng-model="model.estabelecimentoFavorito"
          ng-options="e.id as e.nome for e in estabelecimentos">
        </select>
      </div>
      <div class="btn-group nowrap btn-group nowrap-justified">
        <a class="btn btn-success btn-lg" ng-click="criar()"><span class="glyphicon glyphicon-ok"></span> Criar</a>
        <a class="btn btn-default btn-lg" ng-click="cancelar()"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>
      </div>
    </form>
  </div>
  <div class="panel-body table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Qualificação</th>
          <th class="text-right">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="favorito in favoritos track by $index">
          <td>{{favorito.nome}}</td>
          <td><span uib-rating ng-model="favorito.rate" max="5" read-only="true"></span></td>
          <td>
            <div class="btn-group pull-right nowrap">
              <button ng-click="openModal(favorito)" data-toggle="modal" data-target="#modal-favorito" type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Agendar</button>
              <button ng-click="excluir(favorito.id)" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Excluir</button>
            </div>
          </td>
          <div class="modal fade" id="modal-favorito" tabindex="-1" role="dialog" aria-labelledby="#modal-favorito-label">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-favorito-label">Agendar</h4>
                </div>
                <div class="modal-body">
                  <form name="agendarFavorito">
                    <div class="form-group">
                      <label class="form-control-label"><span class="glyphicon glyphicon-list"></span> Estabelecimento</label>
                      <select
                        class="form-control"
                        ng-model="model.estabelecimento"
                        ng-options="e.id as e.nome for e in estabelecimentos"
                        ng-disabled="true">
                      </select>
                    </div>
                    <div class="form-group">
                      <label class="form-control-label"><span class="glyphicon glyphicon-th"></span> Serviço</label>
                      <select
                        class="form-control"
                        ng-model="servico"
                        ng-change="atualizarPreco()"
                        ng-options="servico.nomeservico for servico in model.servicos">
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="preco"><span class="glyphicon glyphicon-usd"></span> Preço</label>
                      <span class="form-control">{{model.preco | currency:"R$ "}}</span>
                    </div>
                    <div ng-if="model.promocao" class="alert alert-success" role="alert">
                      Preço com promoção
                    </div>

                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                  <button type="button" class="btn btn-success" ng-click="agendar(model.agendamento)">Agendar!</button>
                </div>
              </div>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</div>
