<div ng-app="salontimeApp">
    <div class="jumbotron">
      <h1>SalonTime</h1>
    </div>
    <form name="criaAgendamento" ng-controller="MainCtrl">
      <div class="form-group">
        <label for="categoria"><span class="glyphicon glyphicon-th-large"></span> Categoria</label>
        <select
          id="categoria"
          name="categoria"
          class="form-control"
          ng-model="categoriaSelecionada"
          ng-change="atualizaServicos()"
          ng-options="categoria.id as categoria.nome for categoria in categorias">
        </select>
      </div>
      <div class="form-group">
        <label for="servicos"><span class="glyphicon glyphicon-th"></span> Serviço</label>
        <select
          id="servico"
          name="servico"
          class="form-control"
          ng-change="atualizaEstabelecimentos()"
          ng-model="servicoSelecionado"
          ng-options="servico.id as servico.nome for servico in servicos">
        </select>
      </div>
      <div class="form-group">
        <label for="datahora"><span class="glyphicon glyphicon-calendar"></span> Data</label>
        <input
          type="datetime-local"
          min=8:00 max=19:00 step=1800
          id="datahora"
          name="datahora"
          class="form-control"
          ng-model="datahora">
      </div>
      <div class="form-group">
          <label for="estabelecimento"><span class="glyphicon glyphicon-list"></span> Estabelecimento</label>
          <select
            id="estabelecimento"
            name="estabelecimento"
            class="form-control"
            ng-model="estabelecimentoSelecionado"
            ng-change="atualizaProfissionais()"
            ng-options="estabelecimento.id as estabelecimento.nome for estabelecimento in estabelecimentos">
          </select>
      </div>
      <div class="form-group">
        <label for="profissional"><span class="glyphicon glyphicon-user"></span> Profissional</label>
        <select
          id="profissional"
          name="profissional"
          class="form-control"
          ng-model="profissionalSelecionado"
          ng-options="profissional.id as profissional.nome for profissional in profissionais">
        </select>
      </div>
      <div class="btn-group btn-group-justified">
        <a class="btn btn-primary btn-lg" ng-click="agendar()"><span class="glyphicon glyphicon-ok"></span> Agendar</a>
        <a class="btn btn-default btn-lg" ><span class="glyphicon glyphicon-trash"></span> Limpar</a>
      </div>
    </form>
    <br>
</div>
