<div ng-app="salontimeApp">
    <div class="jumbotron">
      <h1>SalonTime</h1>
    </div>
    <form name="criaAgendamento" ng-controller="MainCtrl">
      <div class="form-group">
        <label for="servicos">Serviços</label>
        <select
          id="servico"
          name="servico"
          class="form-control"
          ng-model="servicoSelecionado"
          ng-options="servico.id as servico.nome for servico in servicos">
        </select>
        </div>
        <div class="form-group">
            <label for="estabelecimentos">Estabelecimentos</label>
            <select
              id="estabelecimento"
              name="estabelecimento"
              ng-model="agendamento.estabelecimento"
              class="form-control"
              ng-options="estabelecimento.id as estabelecimento.nome for estabelecimento in servicoSelecionado.estabelecimentos">
            </select>
        </div>
        <div class="form-group">
          <label for="horarios">Horários</label>
          <input class="form-control">
        </div>
    </form>
</div>
